# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Temporary files
*.tmp
*.bak
~$*
