# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Temporary files
*.tmp
*.bak
~$*

# Molecular dynamics heavy outputs
md/**/charmm-gui*/
md/**/trajectories/
md/**/checkpoints/
md/**/*.dcd
md/**/*.xtc
md/**/*.trr
md/**/*.nc
md/**/*.chk
md/**/*.rst
md/**/*.restart
md/**/*.vel
md/**/*.log
md/**/*.out
md/**/*.edr
md/**/*.cpt
md/**/*.tpr
md/**/*.gro
md/**/*.psf
md/**/*.crd
md/**/*.dms
